<p id="notice"><%= notice %></p>

<p>
  <strong>Blurb:</strong>
  <%= @story.blurb %>
</p>

<p>
  <strong>Source:</strong>
  <%= @story.source %>
</p>

<p>
  <strong>When:</strong>
  <%= @story.when %>
</p>

<p>
  <strong>link:</strong>
  <%= @story.link %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
